<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" width="100%"href="https://toppng.com/public/uploads/preview/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <style>
      .carousel-item {
        height: 300px;
        overflow: hidden;
        width: 100%;
      }
      .carousel-item img {
        width: 100%;
      }
    </style>
    <title>Login</title>
  </head>
  <body>
    <div
      class="container"
      style="
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
      "
    >
      <div class="row align-items-center">
        <div class="col">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block"
                  height="100%"
                  src="https://i.insider.com/5dd436cffd9db203551d1ab4?width=1100&format=jpeg&auto=webp"
                  alt="First slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  height="100%"
                  class="d-block"
                  src="https://mediakix.com/wp-content/uploads/2018/03/best-top-Instagram-meme-pages.jpg"
                  alt="Second slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  height="100%"
                  class="d-block"
                  src="https://media.distractify.com/brand-img/ydU-eg8av/480x252/summer-captions-instagram-2-1593047849069.jpg"
                  alt="Third slide"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <form style="border: 1px solid rgb(231, 223, 223); padding: 10px;" action="/sessions" method="POST">
            <h4 style="text-align: center;">Instagram</h4>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                name="email" id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                name="password" id="password"
                placeholder="Password"
              />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>

          <div
            style="
              border: 1px solid rgb(231, 223, 223);
              padding: 10px;
              text-align: center;
              margin-top: 15px;
            "
          >
            <p>
              Don't have an account?
              <a href="/signup" style="color: blue; text-decoration:none">Sign up</a>
            </p>
          </div>
        </div>
      </div>
      <div style="padding: 10px; text-align: center; margin-top: 15px;">
       <% if @error%>
       <p style="color:red;">
          <%=@error%>
        </p>
       <%end%>
      <p style="font-size: 12px; color: rgb(205, 207, 207);">&#169; 2020 Instagram Made By GERMAN CRUZ</p>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
