<p>You are logged in as <%=session[:email] %></p>
 
    <h1>Upload Image</h1>
        
        <form action="/test" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload image">
        </form>

<form action="/logout" method="get">
<button>Logout</button>
</form>
